{% extends 'base.html' %}

{% block title %}POST{% endblock title %}

{% block body %}
<div class="container-custom">
    <div class="row">
        <div class="col s12 m10">
            {% for p in post %}
                <h3>{{p.title}}</h3>
                <p>({{p.cat.title}})</p>
                <img src="/media/{{p.image}}" class="responsive-img" alt="">
                <br>
                <p>
                    {{p.content | safe}}
                </p>
            {% endfor %}
        </div>
        <div class="col s12 m2">
            {% for cat in cats %}
                <div class="card item">
                    <div class="img-container">
                        <img src="/media/{{cat.image}}" class="responsive-img">
                    </div>
                    <div class="card-content">
                        <b>
                            {{cat.title}}
                        </b>
                        <p class="truncate">{{cat.discription}}</p>
                        <div class="container center-align mt20">
                            <a href="/cats/{{cat.url}}" class="btn bg-primary">VIEW MORE</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock body %}